#admin-header{
    background-color:#2C3E50;
    color:#FFFFFF;
}
#aside{
    background-color:#22313F;
    color:#FFFFFF;
    height:100vh;
    padding:0px;
    ul{
        width:100%;
        li {
            list-style-type:none;
            a{
                display:block;
                padding:5px;
                text-decoration:none;
                color:#FFFFFF;
                &:hover{
                    background-color:#000000;
                    font-weight:bolder;
                    cursor:pointer;
                }
                &:active{
                    background-color:#000000;
                    font-weight:bolder;
                }
            }
        }
    }
}
#adminContent{
    height:100vh;
    overflow:scroll;
}