<div class="container-fluid" id="admin-header">
    <div class="row">
        <div class="col">
            <h3>Admin</h3>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 col-md-4" id="aside">
            <ul>
                <li><a routerLink="categories">Categories</a></li>
                <li><a routerLink="books">Post book</a></li>
                <li><a routerLink="/index/home">Home page</a></li>
            </ul>
        </div>
        <div class="col-lg-10 col-md-8" style="padding:0px;margin:0px;" id="adminContent">
            <!-- <div class="row">
                <div class="col-12"> -->
                    <router-outlet></router-outlet>
                <!-- </div>
            </div> -->
        </div>
    </div>
</div>
